<div class="contact-container">
  <h1>Contato</h1>
  <div class="contact-buttons">
    <a
      class="contact-btn"
      href="mailto:joaovictormendeslima4@gmail.com"
      target="_blank"
    >
      <img src="/assets/contatoEmail.png" alt="E-mail" />
      Me envie um e-mail
    </a>
    <a
      class="contact-btn"
      href="https://www.linkedin.com/in/joaovictormendeslima/"
      target="_blank"
    >
      <img src="/assets/iconeLinkedin.png" alt="LinkedIn" />
      Contato no Linkedin
    </a>
  </div>
</div>
