<div class="contact-container">
  <h1>{{ texts[lang].contact.titulo }}</h1>
  <div class="contact-buttons">
    <a
      class="contact-btn"
      href="mailto:joaovictormendeslima4@gmail.com"
      target="_blank"
    >
      <img src="/assets/contatoEmail.png" alt="E-mail" />
      {{ texts[lang].contact.emailBtn }}
    </a>
    <a
      class="contact-btn"
      href="https://www.linkedin.com/in/joaovictormendeslima/"
      target="_blank"
    >
      <img src="/assets/iconeLinkedin.png" alt="LinkedIn" />
      {{ texts[lang].contact.linkedinBtn }}
    </a>
  </div>
</div>
