<div class="home-container">
  <div class="photo-area">
    <img src="/assets/perfil.jpg" alt="Foto de João Mendes" />
  </div>
  <div class="info-area">
    <h1>Olá! Meu nome é João Mendes</h1>
    <h2>Desenvolvedor Full-Stack</h2>
    <p>Desenvolvedor com experiência em .NET, Angular, JavaScript e RPA.</p>
    <p>
      Aplicando meus conhecimentos na criação de softwares robustos que atendam
      às necessidades de negócios e aos padrões do mercado.
    </p>
    <div class="social-buttons">
      <a
        href="https://www.linkedin.com/in/joaovictormendeslima/"
        target="_blank"
        class="btn linkedin"
      >
        <img src="/assets/iconeLinkedin.png" alt="LinkedIn" />
        Linkedin
      </a>
      <a
        href="https://github.com/joaomendes27"
        target="_blank"
        class="btn github"
      >
        <img src="/assets/iconeGithub.png" alt="GitHub" />
        GitHub
      </a>
      <a href="/assets/perfil.jpg" download class="btn curriculo">
        <img src="/assets/iconeCurriculo.png" alt="Currículo" />
        Currículo
      </a>
    </div>
  </div>
</div>
