<div class="projects-container">
  <h1>{{ texts[lang].projects.titulo }}</h1>
  <div class="projects-row">
    <div
      class="project-card"
      *ngFor="let projeto of texts[lang].projects.projetos"
    >
      <div class="project-img-wrapper">
        <img [src]="projeto.imagem" [alt]="projeto.nome" class="project-img" />
        <a [href]="projeto.github" target="_blank" class="project-arrow">
          <img src="/assets/projetoSeta.png" alt="Ir para o projeto" />
        </a>
      </div>
      <button class="project-info-btn" (click)="openCard(projeto.id)">
        {{ texts[lang].projects.detalhes }}
      </button>
      <div class="project-info-card" *ngIf="activeCard === projeto.id">
        <p *ngFor="let desc of projeto.descricao">{{ desc }}</p>
        <p>
          <span class="underline">
            {{ texts[lang].projects.tecnologiasTitulo }}
          </span>
        </p>
        <p *ngFor="let tech of projeto.tecnologias">{{ tech }}</p>
        <button (click)="closeCard()">{{ texts[lang].projects.fechar }}</button>
      </div>
    </div>
  </div>
</div>
