<div class="experience-container">
  <h1>{{ texts[lang].experience.titulo }}</h1>
  <div class="experience-info">
    <div class="title-row">
      <h2>{{ texts[lang].experience.cargo }}</h2>
      <div class="company-details">
        <h3>{{ texts[lang].experience.empresa }}</h3>
        <span class="date">{{ texts[lang].experience.periodo }}</span>
      </div>
    </div>
    <p>{{ texts[lang].experience.descricao1 }}</p>
    <p>{{ texts[lang].experience.descricao2 }}</p>
    <p>{{ texts[lang].experience.descricao3 }}</p>
    <p>{{ texts[lang].experience.descricao4 }}</p>
    <h2 class="tech-stack">
      {{ texts[lang].experience.tecnologias }}
      <span class="tech-logos">
        <span class="tech-logo">
          <img src="assets/logoDotNet.png" alt=".NET" />
          <span class="tech-tooltip">.NET</span>
        </span>
        <span class="tech-logo">
          <img src="assets/logoAngular.png" alt="Angular" />
          <span class="tech-tooltip">Angular</span>
        </span>
        <span class="tech-logo">
          <img src="assets/logoJS.png" alt="JavaScript" />
          <span class="tech-tooltip">JavaScript</span>
        </span>
        <span class="tech-logo">
          <img src="assets/logoNode-red.png" alt="Node-RED" />
          <span class="tech-tooltip">Node-RED</span>
        </span>
        <span class="tech-logo">
          <img src="assets/logoPostGre.png" alt="PostgreSQL" />
          <span class="tech-tooltip">PostgreSQL</span>
        </span>
        <span class="tech-logo">
          <img src="assets/logoSqlServer.png" alt="SQL Server" />
          <span class="tech-tooltip">SQL Server</span>
        </span>
        <span class="tech-logo">
          <img src="assets/logoAzureDevops.png" alt="Azure" />
          <span class="tech-tooltip">Azure DevOps</span>
        </span>
      </span>
    </h2>
  </div>
</div>
