<div class="experience-container">
  <h1>Experiência</h1>
  <div class="experience-info">
    <div class="title-row">
      <h2>Desenvolvedor de Software</h2>
      <div class="company-details">
        <h3>Mosten</h3>
        <span class="date">(06/2025 – Atualmente).</span>
      </div>
    </div>
    <p>
      • Participação ativa em múltiplos projetos, garantindo qualidade e
      consistência nas entregas.
    </p>
    <p>
      • Atuação com .NET no back-end, utilizando design patterns como CQRS e
      Clean Architecture para garantir escalabilidade, organização de código e
      separação de responsabilidades, com foco no desenvolvimento e manutenção
      de APIs.
    </p>
    <p>
      • Desenvolvimento em Angular no front-end, assegurando melhoria contínua
      da experiência do usuário e da performance das aplicações.
    </p>
    <p>
      • Nas automações, interajo diretamente com o cliente mapeando e analisando
      os processos para garantir soluções de software alinhadas às necessidades
      do negócio, com o objetivo de trazer ganhos de produtividade,
      confiabilidade e redução de custos.
    </p>
    <h2 class="tech-stack">
      Tecnologias Utilizadas:
      <span class="tech-logos">
        <span class="tech-logo">
          <img src="/assets/logoDotNet.png" alt=".NET" />
          <span class="tech-tooltip">.NET</span>
        </span>
        <span class="tech-logo">
          <img src="/assets/logoAngular.png" alt="Angular" />
          <span class="tech-tooltip">Angular</span>
        </span>
        <span class="tech-logo">
          <img src="/assets/logoJS.png" alt="JavaScript" />
          <span class="tech-tooltip">JavaScript</span>
        </span>
        <span class="tech-logo">
          <img src="/assets/logoNode-red.png" alt="Node-RED" />
          <span class="tech-tooltip">Node-RED</span>
        </span>
        <span class="tech-logo">
          <img src="/assets/logoPostGre.png" alt="PostgreSQL" />
          <span class="tech-tooltip">PostgreSQL</span>
        </span>
        <span class="tech-logo">
          <img src="/assets/logoSqlServer.png" alt="SQL Server" />
          <span class="tech-tooltip">SQL Server</span>
        </span>
        <span class="tech-logo">
          <img src="/assets/logoAzureDevops.png" alt="Azure" />
          <span class="tech-tooltip">Azure DevOps</span>
        </span>
      </span>
    </h2>
  </div>
</div>
